<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Suggestions</p>
        <a class="panel-block"> Jonh David</a>
        <a class="panel-block"> Jonh David</a>
        <a class="panel-block"> Jonh David</a>
        <a class="panel-block"> Jonh David</a>
        
    </nav>

</div>