
    <nav class="panel">
        <p class="panel-heading">   
            Trends
        </p>
    <% @posts.first(5).each do |post| %>
        <p class="panel-block">
            <%= link_to post.title, post %>
        </p>
    <% end %>
        
    </nav>
   
    



